<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Shawn's Test Suite" verbose="2">
    <listeners>
        <listener class-name="reportinglistener.ExtentReportListener"/>
    </listeners>

    <test name="Tricentis Obstacle Course">
        <classes>
            <class name="ShawnFrost"/>
        </classes>
    </test>
</suite>
